body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.section-card{
    background-image: url("https://wallpapercave.com/wp/wp9764031.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-container{
    border: 1px solid #ced1d6;
    margin-bottom: 1rem;
    border-radius: 3px;
    height: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
}
.input-container:hover{
    border: 1px solid #396dd4;
}

.email{
    background-color:  transparent;
    outline: none;
    border: 0px;
    width: 14rem;
    font-size: .7rem;
}
.password{
    background-color:  transparent;
    outline: none;
    border: 0px;
    width: 14rem;
    font-size: .7rem;
}
.login-container{
    background-color: #ffffff;
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    width: 50%;
    border-bottom: 1px solid gray;
}
.icon{
    color: lightblue;
    margin: .5rem;
}
.label-text{
    font-size: .75rem;
    font-weight: 600;
    color: gray;
}

.login-heading{
    margin-top: 0px;
    font-size: 1.25rem;
    text-align: center;
    color:rgb(16, 147, 151);
}

.button{
    width: 96%;
    height: 2.2rem;
    border-radius: 3px;
    border: 0px;
    background-image: linear-gradient(to right, #4678db,#5b81cf);
    color: #ffffff;
}


.forget-password{
    font-weight: 500;
    font-size: .6rem;
    align-items: flex-end;
    display: block;
}
.email-err{
    font-weight: 600;
    margin: .5rem 0;
    display: block;
    font-size: .7rem;
    color: red;
}
.password-err{
    font-weight: 600;
    margin: .5rem 0;
    display: block;
    font-size: .7rem;
    color: red;
}
.signin-card{
    background-color: rgb(217, 221, 221);
    width: 50%;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
    text-align: center;
}

.newUser-page{
    font-size: .8rem;
    margin: 0px;
}

@media screen and (min-width:560px){
    .login-container{
        width: 40%;
    }
    .signin-card{
        width: 40%;
    }
}

@media screen and (min-width:780px){
    .login-container{
        width: 30%;
    }
    .signin-card{
        width: 30%;
    }
}



