body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-heading{
    color: #ffffff;
    font-weight: bold;
}
.section-card{
    background-image: url("https://wallpapercave.com/wp/wp9764031.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-container{
    border: 1px solid #ced1d6;
    margin-bottom: 1rem;
    border-radius: 3px;
    height: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
}
.input-container:hover{
    border: 1px solid red;
}

.email{
    background-color:  transparent;
    outline: none;
    border: 0px;
    width: 14rem;
    font-size: .7rem;
    color: #ffffff;
}
.password{
    background-color:  transparent;
    outline: none;
    border: 0px;
    width: 14rem;
    font-size: .7rem;
    color: #ffffff;
}

.icon{
    color: lightblue;
    margin: .5rem;
}
.label-text{
    font-size: .75rem;
    font-weight: 600;
    color: gray;
}

.button{
    width: 92%;
    height: 2.2rem;
    border-radius: 3px;
    border: 0px;
    background-image: linear-gradient(to right, #4678db,#5b81cf);
    color: #ffffff;
}

.email-err{
    font-weight: 600;
    margin: .5rem 0;
    display: block;
    font-size: .7rem;
    color: red;
}
.password-err{
    font-weight: 600;
    margin: .5rem 0;
    display: block;
    font-size: .7rem;
    color: red;
}



@media screen and (min-width:560px){
    .login-container{
        width: 40%;
    }
    .signin-card{
        width: 40%;
    }
}

@media screen and (min-width:780px){
    .login-container{
        width: 30%;
    }
    .signin-card{
        width: 30%;
    }
}



